/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #161616;
    --active-button-color: #11823B;
    --gray-text: rgba(22, 22, 22, 0.7);
    --white-text: #FFFFFF;
    --black-text: #161616;
}

html {
    font-size: 16px;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black-text);
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.active-btn {
    background-color: var(--active-button-color);
    color: var(--white-text)
}

.inactive-btn {
    background-color: var(--white-text);
}

.container {
    width: 1321px;
    margin: 50px auto 80px;
}

/* -----------------------------
    Header Area Style - Start 
----------------------------- */

.header {
    display: flex;
    background-color: var(--main-color);

    align-items: center;
    padding: 106px;
    border-radius: 30px;
}

/* Header Info Part */
.header-info {
    flex: 4;
    color: var(--white-text);
}

.header-title {
    font-size: 4.375rem;
    font-weight: 700;
}

.header-text {
    font-size: 1rem;
}

.header-button {
    display: inline-block;
    color: var(--white-text);
    padding: 16px 25px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 400;
}

.header-button i {
    margin-left: 19px;
}

/* Header Image Part */

.header-image {
    flex: 3;
    position: relative;
    height: 547px;
}

.header-image img {
    position: absolute;
    width: 94%;

}

/* -----------------------------
    Header Area Style - End 
----------------------------- */

/* -----------------------------
    Main Content Style - Start 
----------------------------- */

.main-content {
    display: flex;
}

/* Navigation Button */
.navigation {
    width: 312px;
    height: 312px;
    background-color: var(--black-text);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

.navigation a {
    display: inline-block;
    text-align: center;
    padding: 18px 10px;

    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
}

.navigation a:not(:last-child) {
    margin-bottom: 30px;
}


/* Common Css in Content Card Start */
.content-cards {
    width: 985px;
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}


.card {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* Common Css in Content Card End */

/* Blog Content */
.thumbnail img {
    width: 100%;
}

.blog-details {
    padding: 20px;
}

.blog-button a {
    font-size: 1rem;
    display: inline-block;
    border: 1px solid var(--black-text);
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: 500;
}

.blog-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 15px;
}

.blog-info {
    margin-top: 20px;
    display: flex;
    font-weight: 400;
}

.blog-info span {
    color: rgba(22, 22, 22, 0.8);
}

.blog-info span:nth-child(2n) {
    margin-left: 10px;
    color: rgba(22, 22, 22, 0.7);
}

.blog-comment {
    margin-left: 30px
}


/* Upcoming Content */

.upcoming {
    padding: 30px;
}

.flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flags p {
    font-size: 1rem;
    font-weight: 700;
}

.match-details {
    margin-top: 20px;
    text-align: center;
}

.match-time {
    margin-top: 10px;
    color: #4D4D4D;
    font-weight: 400;
}

.view-button {
    display: none;
}

/* -----------------------------
    Main Content Style - End 
----------------------------- */

/* -----------------------------
    Footer Style - Start 
----------------------------- */
.footer-area {
    width: 100vw;
    background-color: var(--black-text);
    margin-bottom: 0;
    color: var(--white-text);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    height: 444px;
    justify-content: space-evenly;
}

.social i {
    font-size: 3rem;
    margin: 0 5px;
    color: #B9B9B9;
}

.footer-nav {
    text-align: center;
}

.footer-nav a {
    color: #B9B9B9;
    display: inline-block;
    padding: 5px 5px;
}

/* -----------------------------
    Footer Style - End 
----------------------------- */